$white: #fff;
$text: #666666;
$title: #2e384d;

$youtube: #ff0000;
$discord: #5c6bc0;
$instagram-gradient: -webkit-linear-gradient(
  45deg,
  #f09433 0%,
  #e6683c 25%,
  #dc2743 50%,
  #cc2366 75%,
  #bc1888 100%
);

$shadow: 0 0 20px rgba(0, 0, 0, 0.05);
$border: 5px;

$separator-1-gradient: linear-gradient(
  270deg,
  hsla(234, 36%, 57%, 1) 0%,
  hsla(234, 65%, 88%, 0.34) 100%
);

$separator-2-gradient: linear-gradient(
  270deg,
  hsla(250, 65%, 88%, 0.34),
  hsla(250, 36%, 57%, 1)
); ;
