@import "./_global.scss";

.title {
  font: 700 $title-font-size $title-font;
  color: $title;
}

.subtitle {
  font: 700 $subtitle-font-size $title-font;
  color: $title;
}

.section {
  padding: calc(5rem + 4.5rem) 0;
}

.button {
  height: 3rem;
  padding: 1rem 2rem;

  font-weight: 700;
  border-radius: $border;

  transition: filter 0.2s;
}

.button:hover {
  filter: brightness(0.9);
}

.separator {
  height: 1px;
  background: $separator-1-gradient;
}

.separator-2 {
  height: 1px;
  background: $separator-2-gradient;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
}

header {
  border-bottom: 1px solid #e4e4e4;

  nav {
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    ul {
      display: flex;
      align-items: center;

      gap: 1.5rem;

      li a {
        position: relative;
        color: $text;

        transition: all 0.2s;

        &::after {
          content: "";
          height: 2px;
          width: 0;

          position: absolute;
          bottom: -1.5rem;
          left: 0;
          background-color: blue;

          transition: width 0.2s;
        }

        &:hover::after {
          width: 100%;
        }
      }
    }
  }
}

main {
  #home {
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .text {
        max-width: 22.5rem;
        overflow: hidden;

        display: flex;
        flex-direction: column;
        // align-items: flex-end;
        // flex: 1;

        p {
          margin-top: 0.75rem;
          line-height: 1.5rem;
        }

        > a {
          display: block;
          margin-top: 1.5rem;

          background-color: blue;
          color: $white;

          font-weight: bold;
          text-align: center;
        }
      }

      .image {
        // max-width: 22.5rem;

        img {
          max-width: 500px;
          border-radius: $border;
        }
      }
    }
  }

  #services {
    text-align: center;
    background-color: $white;

    p {
      margin-top: 0.75rem;
      font-size: 1.1rem;
    }

    .cards {
      margin-top: 2.5rem;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;

      .card {
        padding: 2.5rem 2rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        background-color: $white;

        border-bottom: 4px solid blue;
        border-radius: $border;
        box-shadow: $shadow;

        img {
          width: 50px;

          margin-bottom: 1.5rem;
        }

        strong {
          margin-bottom: 0.75rem;
          font-size: 1.5rem;
        }
      }
    }
  }

  #i-will-learn {
    text-align: center;

    p {
      margin-top: 0.75rem;
      font-size: 1.1rem;
    }

    .container {
      .cards {
        margin-top: 2.5rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;

        .card {
          padding: 3rem 2rem;

          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          background-color: $white;
          box-shadow: $shadow;
          border-radius: $border;
          border-bottom: 4px solid blue;

          img {
            width: 50px;
          }

          strong {
            margin: 0.75rem 0;
            font-size: 1.5rem;
          }
        }
      }
    }
  }

  #social-networks {
    text-align: center;

    p {
      margin-top: 0.75rem;
      font-size: 1.1rem;
    }

    .content {
      display: flex;
      justify-content: center;
      align-items: center;

      .socials {
        margin-top: 1.5rem;

        display: grid;
        grid-auto-flow: column;
        gap: 1rem;

        div {
          padding: 3rem 2rem;

          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          gap: 1rem;
          background-color: #e5e5e5;
          border-radius: $border;
          box-shadow: $shadow;

          img {
            width: 50px;
          }

          a.youtube {
            background-color: $youtube;
            color: $white;
          }

          a.instagram {
            background: $instagram-gradient;
            box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
            color: $white;
          }

          a.discord {
            background-color: #5c6bc0;
            color: $white;
          }
        }
      }
    }
  }
}

footer {
  padding: 4.5rem;
  background-color: $white;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .brand {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .list {
      display: flex;
      flex-direction: column;
      gap: 0.6rem;

      ul {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        li {
          a {
            color: inherit;
            transition: all 0.2s;
            &:hover {
              filter: brightness(1.2);
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}
